*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* #viewTable {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
} */
body{
    /* display: flex; */
}
#headerSection{
    display: flex;
    width: 100%;
}
#form{
    width: 40%;
    height: 250px;
    line-height: 25px;
    padding: 20px;
    background-color: blue;
    display: flex;
    flex-direction: column;
} 

#formDelete{
    width: 20%;
    height: 250px;
    padding: 20px;
    background-color: rgb(255, 136, 0);
    display: flex;
    flex-direction: column;
}

#formUpdate{
    width: 40%;
    height: 250px;
    padding: 20px;
    background-color: darkred;
    display: flex;
    flex-direction: column;
}

#view{
    width: 100px;
    height: 50px;
}

